extends layout

block content
    table
        tr
            td
                a(href="#/")
                    img(src="images/ys42e47r.bmp")
            td
                h2 Movie info app
    div(ng-view="")
    